
.header *{
    border: solid;
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.grid{

    display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     background-color: green;
     border: solid;
 }
 
